<header>
    <div>
        <a href="/">PetDevShop</a>
        <form action="">
            <input type="search" name="q" placeholder="Pesquise por Raça"/ >
        </form>
    </div>
    <nav>
        <ul>
            <li><a href="/">Todos</a></li>
            <li><a href="/dogs">Cachorros</a></li>
            <li><a href="/cats">Gatos</a></li>
            <li><a href="/fishes">Peixes</a></li>
        </ul>
    </nav>
</header>